<footer id="ace-footer" class="ace-container-shift">
    <div class="ace-container">
  <div class="ace-footer-cont clear-mrg">
    <p class="text-center">个人信息保护声明: 请注意，本简历中的所有信息仅用于求职目的。未经本人明确书面同意，任何单位或个人不得以任何形式非法使用或泄露本简历中的信息。违者将依法追究其法律责任。</p>
  </div>
    </div><!-- .ace-container -->
</footer><!-- #ace-footer -->

<!-- Triangle Shapes -->
<svg id="ace-bg-shape-1" class="hidden-sm hidden-xs" height="519" width="758">
    <polygon points="0,455,693,352,173,0,92,0,0,71" style="fill:#d2d2d2;stroke:purple;stroke-width:0; opacity: 0.5">
</svg>

<svg id="ace-bg-shape-2" class="hidden-sm hidden-xs" height="536" width="633">
    <polygon points="0,0,633,0,633,536" style="fill:#c0e3e7;stroke:purple;stroke-width:0" />
</svg>