<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview education-school">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.jpg' | relative_url }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>{{site.school-name}}</strong>
                        <span>{{site.school-date}} | {{site.school-major}} | {{site.school-class}}</span>
                    </div>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->