<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>
                <div class="clear-mrg">
                    <table class="basic-table">
                        <tr>
                            <td><span>年龄：<span class="basic-value">{{ site.age }}</span></span></td>
                            <td><span>经验：<span class="basic-value">{{ site.workAge }}</span></span></td>
                        </tr>
                        <tr>
                            <td><span>状态：<span class="basic-value">{{ site.status }}</span></span></td>
                            <td><span>邮箱：<span class="basic-value">{{ site.mail }}</span></span></td>
                        </tr>
                    </table>
                </div>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->